/*Explore*/ 
#blocExplore {
    height: 290px;

}

#bloc-explore {
    height: 290px;
    width: 100%;
    text-align: center;
    background-color: $background-color-secondary;
    &__title h1{
        font-family: 'Roboto-Medium';
        text-align: center;
        margin: 0;
        padding-top: 40px;
        padding-bottom: 20px;
        font-size: 2em;
    }
    &__description {
        padding-bottom: 35px;
        color: #656565;
        font-size: 1.3em;
    }
    &__button {
        background-color: #9356DC; /*Dégradé de couleurs avec #FF79DA */ 
        width: 220px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
        &__text {
            color: white;
            padding-top:15px;
        }
    }
}