/*BOUTTON COMMANDER*/ 

#bloc-menu__button {
    width: 185px;
    height: 50px;
    background-color: $primary-color;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    margin-top: 50px;
   &__text {
       padding-top: 14px;
       text-align: center;
       color: white;
   }  
}