/*BOUTTON COMMANDER*/ 

#bloc-menu__button {
    width: 185px;
    height: 50px;
    background-color: $primary-color;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    margin-top: 50px;
    background: linear-gradient(to bottom right,$secondary-color,$primary-color);
    box-shadow: 1px 1px 5px #656565;
   &__text {
       padding-top: 14px;
       text-align: center;
       color: white;
   }  

}