@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../../fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
<<<<<<< HEAD
    font-family: 'Shrikhand-Regular';
    src: url('../../fonts/Shrikhand/Shrikhand-Regular.ttf');
=======
    font-family: 'Shrikhand-regular';
    src: url('../../public/fonts/Shrikhand/Shrikhand-Regular.ttf');
>>>>>>> b49172e094a4dc1d47d0a062978708108908fe37
};

/*General*/
body {
    font-family: 'Roboto-Regular', sans-serif;
    margin: 0;
}

/*HEADER*/ 
.bloc-explore__title h1 {
    font-family: 'Roboto-Medium',sans-serif;
}