@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../../fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Shrikhand-Regular';
    src: url('../../fonts/Shrikhand/Shrikhand-Regular.ttf');
};

/*General*/
body {
    font-family: 'Roboto-Regular', sans-serif;
    margin: 0;
}

/*HEADER*/ 
.bloc-explore__title h1 {
    font-family: 'Roboto-Medium',sans-serif;
}