/*FOOTER Menus*/  

#bloc-footer {
    height: 195px;
    width: 100%;
    background-color: $background-color-footer;
    color: white;
    position: relative;
    &__logo  {
<<<<<<< HEAD
        font-family: 'Shrikhand-Regular';
=======
        font-family: 'Shrikhand-regular';
>>>>>>> b49172e094a4dc1d47d0a062978708108908fe37
        color: white;
        padding-top: 20px;
        margin-left: 15px;

    }
    &__info {
        margin-left: 15px;
        margin-top: 15px;
    }
.bloc-footer__info__top {
    display: flex;
    &__icon i {
        margin-right: 10px;
        font-size: 0.7em;
    }
    &__text {
        margin-bottom: 10px;
        
    }
    }
}

.bloc-footer__info__bottom {
    margin-bottom: 10px;
}

