/*MENUS*/
#bloc-menu--flex {
    margin-left: 10px;
}
/*ENTREES*/ 
#bloc-menu {
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: $background-color-secondary;
    display: flex;
    flex-direction: column;
    margin-top: -40px;
    position: relative;
    &__heading{
        display: flex;
        justify-content: space-around;
        &__name {
            
            font-family: 'Shrikhand', sans-serif;
        }
        &__icon i {
            padding-top: 25px;
            font-size: 1.5em;
        }
    }
}

.bloc-menu__entrees {
    &__title {
    width: 35px;
    height: 25px;
    border-bottom: 3px solid $underline-color;
    margin-bottom: 15px;
    padding-bottom: 3px;
    h2 {
        text-transform: uppercase;
        color:$text-color;
        font-weight: normal;
        font-size: 1.2em;
        }
    }
   
    &__bubble {
        width: 350px;
        height: 70px;
        margin-bottom: 15px;
        background-color: $background-color-primary;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        &__heading{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
        &__meal{
            margin-left: 10px;
            &__name{
                font-weight: bold;
                font-size: 1.1em;
            }
            &__content {
                margin-top: 5px;
            }
        }
        
        
        }
        &__icon{
            margin-top: 35px;
            margin-right: 20px;
            font-weight: bold;
            font-size: 0.9em;
        }
    }
}

/*PLATS*/ 

#bloc-menus__plats {
    margin-left: 10px;
}

.bloc-menu__plats {
    &__title {
    width: 35px;
    height: 25px;
    border-bottom: 3px solid $underline-color;
    margin-bottom: 15px;
    padding-bottom: 3px;
    h2 {
        text-transform: uppercase;
        color:$text-color;
        font-weight: normal;
        font-size: 1.2em;
        }
    }

    &__bubble {
        width: 350px;
        height: 70px;
        margin-bottom: 15px;
        background-color: $background-color-primary;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        &__heading{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
        &__meal{
            margin-left: 10px;
            &__name{
                font-weight: bold;
                font-size: 1.1em;
            }
            &__content {
                margin-top: 5px;
            }
        }
        
        
        }
        &__icon{
            margin-top: 35px;
            margin-right: 20px;
            font-weight: bold;
            font-size: 0.9em;
        }
    }
}

/*DESSERT*/ 

#bloc-menus__desserts {
    margin-left: 10px;
}

.bloc-menu__desserts {
    &__title {
    width: 35px;
    height: 25px;
    border-bottom: 3px solid $underline-color;
    margin-bottom: 15px;
    padding-bottom: 3px;
    h2 {
        text-transform: uppercase;
        color:$text-color;
        font-weight: normal;
        font-size: 1.2em;
        }
    }

    &__bubble {
        width: 350px;
        height: 70px;
        margin-bottom: 15px;
        background-color: $background-color-primary;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        &__heading{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
        &__meal{
            margin-left: 10px;
            &__name{
                font-weight: bold;
                font-size: 1.1em;
            }
            &__content {
                margin-top: 5px;
            }
        }
        
        
        }
        &__icon{
            margin-top: 35px;
            margin-right: 20px;
            font-weight: bold;
            font-size: 0.9em;
        }
    }
}