/*Variables couleurs */

$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;

                /*Variables couleurs fonds*/

            $background-color-primary:#ffffff;
            $background-color-secondary:#f6f6f6;
            $backgrond-color-footer:#353535;